

<!DOCTYPE html>
<html>
    <%- include("../partials/head");  %>  

    <style>
        .full {
            width: 100%;
        }
    </style>
  <body>
    <div class="section">
        <div class="box">
            <div class="field">
                <label class="label">Jenis Pesan</label>
                <div class="control">
                    <div class="select full">
                        <select class="full" id="jenis-pesan">
                            <option value="1">Semua</option>
                            <option value="2">Pribadi</option>
                            <option value="3">Catat Meter</option>
                            <option value="4">Penagih</option>
                        </select>
                    </div>
                </div>
            </div>
            
            <div class="field pilih-petugas">
                <label class="label">Pilih Petugas</label>
                <div class="control full">
                    <div class="full">
                        <select class="js-example-basic-single full" id="user"></select>
                    </div>
                </div>
            </div>

            <div class="field">
                <label class="label">Isi Pesan</label>
                <div class="control">
                    <textarea class="textarea" id="pesan" placeholder="Isi Pesan"></textarea>
                </div>
            </div>

            <div class="buttons">
                <button class="button is-link" id="btn-kirim">Kirim</button>
              </div>
        </div>
    
    </div>
    

  <%- include("../partials/footer");  %>  

  </body>
</html>

