<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Whatsapp API</title>
</head>
<body>
    <div id="app">
        <h1>WhatsApp API</h1>
        <img src="" alt="QR Code" id="qrcode">
        <ul class="logs"></ul>
    </div>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.1.3/socket.io.min.js" integrity="sha512-fB746S+jyTdN2LSWbYSGP2amFYId226wpOeV4ApumcDpIttPxvk1ZPOgnwqwQziRAtZkiFJVx9F64GLAtoIlCQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="/assets/js/jquery.min.js"></script>
    <script src="/assets/js/whatsapp.js"></script>
</body>
</html>