<footer class="section">

</footer>
<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
<script src="/assets/js/jquery.min.js"></script>
<script src="/assets/js/select2.min.js"></script>
<script src="/assets/js/sweetalert2.min.js"></script>
<script src="/assets/js/main.js"></script>