<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Kirim Pesan</title>
    <link href="/assets/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/assets/css/bulma.min.css">
</head>